# frozen_string_literal: true

class CreatePostTypes < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :post_types do |t|
      t.string :name, null: false  # Identifier (e.g., "blog", "case_studies")
      t.string :title, null: false # Display name (e.g., "Blog", "Case Studies")

      t.timestamps
    end

    add_index :post_types, :name, unique: true
  end
end
