# frozen_string_literal: true

class Avo::Filters::PostTypeFilter < Avo::Filters::SelectFilter
  self.name = "Post Type"
  self.visible = -> { true }

  def apply(request, query, value)
    return query if value.blank?

    query.by_post_type(value)
  end

  def options
    {
<% post_types.each_with_index do |pt, index| -%>
      "<%= pt.titleize %>" => "<%= pt %>"<%= index < post_types.length - 1 ? "," : "" %>
<% end -%>
    }
  end
end
