<%%# Bunko ships our basic view files with https://picocss.com/ to give you a basic styled experience. %>
<%%# Feel free to delete this partial and references as you add your own design. %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
