<%%= render "shared/bunko_styles" %>
<%%= render "shared/bunko_nav" %>

<main class="container">
  <article class="page">
    <header class="page-header">
      <h1><%%= @post.title %></h1>
    </header>

    <div class="page-content">
      <%%= sanitize(@post.content) %>
    </div>
  </article>
</main>

<%%= render "shared/bunko_footer" %>
